body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0a02f8;
    color: white;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    margin: 15px;
    padding: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.text {
    text-align: left;
}

.icon-box {
    margin-top: 10px;
}

.span {
    color: #007BFF;
}
